body {
    width: 100vw;
    background-color: black;
    color: blue;
    font-size: 55px;
}

div {
    width: 60%;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    perspective: 1000px;
}

p {
    animation: test 2s linear alternate infinite;
    transform-style: preserve-3d;
}

/* Step 1: Mess around with this animation setup. See what happens */
@keyframes test {
    0% {
        color: blue;
        transform: skew(-10deg, 15deg) rotateY(20deg) translateZ(50px) scale(2);
    }

    100% {
        color: red;
        transform: skew(-10deg, 15deg) rotateY(-20deg) translateZ(50px) scale(2);
    }
}

.fire {
    animation: fireAnimation 2s ease-in-out alternate infinite;
    /* Other specific styles here */
}

@keyframes fireAnimation {
    0% {
        color: orange;
        transform: translateX(0px);
    }
    100% {
        color: red;
        transform: translateX(20px);
    }
}
