body {
    width: 100vw;
    background-color: black;
    color: blue;
    font-size: 60px;
}

div {
    width: 60%;
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

p {
    animation: test 2s linear alternate infinite;
}

/* Step 1: Mess around with this animation setup. See what happens */
@keyframes test {
    0% {
        color: blue;
        transform: skew(-15deg, 15deg) rotate(45deg) scale(2) scale(1);
    }

    100% {
        color: red;
        transform: skew(-15deg, 15deg) rotate(45deg) scale(2) scale(4) translateY(100);
    }
}