body {
  background-image: linear-gradient(to bottom, #ff99cc, #cc99ff); /* Change gradient colors */
  background-color: #c81f1f;
  background-attachment: fixed;
}

#lineOne {
  font-size: 24px; 
  color: rgb(255, 255, 255);
}

/* Font styles for Spectral font family */
.spectral-extralight {
  font-family: Spectral, serif;
  font-weight: 200;
  font-style: normal;
}

.spectral-light {
  font-family: Spectral, serif;
  font-weight: 300;
  font-style: normal;
}

.spectral-regular {
  font-family: Spectral, serif;
  font-weight: 400;
  font-style: normal;
}

.spectral-medium {
  font-family: Spectral, serif;
  font-weight: 500;
  font-style: normal;
}

.spectral-semibold {
  font-family: Spectral, serif;
  font-weight: 600;
  font-style: normal;
}

.spectral-bold {
  font-family: Spectral, serif;
  font-weight: 700;
  font-style: normal;
}

.spectral-extrabold {
  font-family: Spectral, serif;
  font-weight: 800;
  font-style: normal;
}

.spectral-extralight-italic {
  font-family: Spectral, serif;
  font-weight: 200;
  font-style: italic;
}

.fleur-de-leah-regular {
  font-family: "Fleur De Leah", cursive;
  font-weight: 400;
  font-style: normal;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}