body {
  background-image: linear-gradient(to bottom, #f8c572, #e36363);
  background-color: #c81f1f;
  background-attachment: fixed;
}

#lineOne {
  font-family: 'Noto Sans Mono', sans-serif;
  color: rgb(205, 232, 202);
  margin-top: 50px;
}

#lineTwo {
  font-family: 'Noto Sans Mono', sans-serif;
  color: rgb(157, 173, 186);
  font-size: 20px;
}

#lineGemini1 {
  font-family: 'Unkempt', sans-serif;
  color: rgb(255, 255, 255);
  font-size: 80px;
  text-align: center;
  margin-bottom: 20px;
}

#lineGemini2 {
  font-family: 'Unkempt', sans-serif;
  color: rgb(101, 120, 135);
  font-size: 20px;
  text-align: center;
  margin-top: 0;
}

#lineLeo {
  font-family: 'Rakkas', serif;
  color: rgb(207, 105, 22);
  font-size: 80px;
  text-align: center;
}

#lineVirgo {
  font-family: 'Courier Prime', monospace;
  color: rgb(25, 25, 26);
  font-size: 80px;
  text-align: center;
}

#lineLibra {
  font-family: 'Playfair Display', serif;
  color: rgb(81, 48, 33);
  font-size: 80px;
  text-align: center;
}

#lineScorpio {
  font-family: 'Pinyon Script', cursive;
  color: rgb(161, 69, 138);
  font-size: 80px;
  text-align: center;
}


.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.unkempt-regular {
  font-family: "Unkempt", cursive;
  font-weight: 400;
  font-style: normal;
}

.unkempt-bold {
  font-family: "Unkempt", cursive;
  font-weight: 700;
  font-style: normal;
}

.concert-one-regular {
  font-family: "Concert One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rakkas-regular {
  font-family: "Rakkas", serif;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-regular {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: normal;
}

.courier-prime-bold {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: normal;
}

.courier-prime-regular-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 400;
  font-style: italic;
}

.courier-prime-bold-italic {
  font-family: "Courier Prime", monospace;
  font-weight: 700;
  font-style: italic;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}


/* Unvisited link */
a:link {
  color: #ffffff; /* Gold */
}

/* Visited link */
a:visited {
  color: #ffffff; /* Orange */
}

/* Mouse over link */
a:hover {
  color: #E6E6FA; /* Lavender */
}

/* Selected link */
a:active {
  color: #d1e2e8; /* Light Blue */
}
