body {
  background-image: linear-gradient(to bottom, #f8c572, #e36363); /* Change gradient colors */
  background-color: #c81f1f;
  background-attachment: fixed;
}

#lineOne {
  font-size: 24px; 
  color: rgb(255, 255, 255);
}

.russo-one-regular {
  font-family: "Russo One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.center-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}